<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <section id="services">
        <div class="container">
            <div class="services-title">Our Services</div>
            <div class="services-details">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="services-selection">
                            <div class="services-icon"><i class="fa fa-university" ></i>
                            </div>
                            <div class="services-description">
                                <h3>HOME LOAN</h3>
                                <p>Make your dream into reality with SBI Home Loan.
                                    Quick & easy with minimum documentation.
                                    your search for a dream home ends here with lowest interest
                                    rate of 6.90%.
                                    Apply Now..!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-selection">
                            <div class="services-icon"><i class="fa fa-university" ></i>
                            </div>
                            <div class="services-description">
                                <h3>PERSONAL LOAN</h3>
                                <p>SBI offers various types of personal loans such 
                                    as Xpress Credit Loan, SBI Pension Loan,
                                    Xpress Elite and Pre-approved Personal Loans that caters to the needs of
                                    different borrowers.
                                    Interest starts from 9.60% p.a
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-selection">
                            <div class="services-icon"><i class="fa fa-university" ></i>
                            </div>
                            <div class="services-description">
                                <h3>BUSINESS LOAN</h3>
                                <p>SBI Loan for Commerical Real Estate.
                                    Business houses can take this type of loan from SBI to purchase a
                                    commerical property which could be retail space, organizations,
                                    trading, manufacturing sectors.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-selection">
                            <div class="services-icon"><i class="fa fa-university" ></i>
                            </div>
                            <div class="services-description">
                                <h3>GOLD LOAN</h3>
                                <p>SBI offers one of the lowest gold loan rate of 7.50%, both for its existing 
                                    bank customers as well as new borrowers. 
                                    SBI jewel loan interest rate varies by amount of loan, purity of gold
                                    and loan to value ratio.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-selection">
                            <div class="services-icon"><i class="fa fa-university" ></i>
                            </div>
                            <div class="services-description">
                                <h3>STUDENT LOAN</h3>
                                <p>SBI Student Loan schemes are to supoort students across the country
                                    with implementing cost of education. SBI has been offering various 
                                    SBI education loan schemes for students as per their specific
                                    requriments.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="services-selection">
                            <div class="services-icon"><i class="fa fa-university" ></i>
                            </div>
                            <div class="services-description">
                                <h3>CREDITCARD LOAN</h3>
                                <p>SBI encash is a pre-approved loan or we can say money on-demand
                                    facility which is given to SBI credit cardholders. With different
                                    types of loan amounton credits cards, you can avail loam amount
                                    more than your credit limit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

