<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widths">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    </head>
    <body>
        <div class="about-section">
            <div class="inner-container">
                <h1>ABOUT US </h1>
                <p class="text">
                    State Bank of India welcomes you to explore the world of premier bank in India.
                    In this section, you can access detailed information on Overview of the Bank, Technology Upgradation
                    in the Bank, Board of Directors, Financial Results and Shareholder Info.
                    The Bank is actively involved since 1973 in non-profit activity called
                    Community Services Banking. All our branches and administrative offices throughout the country
                    sponsor and participate in large number of welfare activities and social causes. Our business is 
                    more than banking because we touch the lives of people anywhere in many ways.
                    Our commitment to nation-building is complete & comprehensive.
                </p>
            </div>
        </div>
    </body>
</html>
    

