body {
    font-family: Arial;
    font-size: 17px;
    
      margin: 0;
      padding: 1px;
      background-image: url("https://image.shutterstock.com/image-photo/completing-medical-form-260nw-743688190.jpg");
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     
  }