body {
    font-family: Arial;
    font-size: 17px;
    
      margin: 0;
      padding: 1px;
         background-image: url("https://www.bajajfinserv.in/Apply_for_a_Bajaj_Finserv_Personal_Loan_in_minutes_large_img_CP_PL_03_-_big.jpg");
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     
  }